@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CDN Demo</h1>

<div class="container">

    <table class="table">
        <tr>
            <td>
                <p>Web Server Hosted Image:</p>
                <img src="~/Content/images/surface_book_hero.png" alt="Go Buy A Surface Book Today!" height="278" width="495">
            </td>

            <td>
                <p>CDN Hosted Image:</p>
                <!--Replace the image source with the same file location but relevant to the CDN address-->
                <img src="@ViewBag.CDNBase/Content/images/surface_book_hero.png" alt="Go Buy a Surface Book Today!" height="278" width="495">
            </td>

        </tr> 
    </table>

</div>
